// // ----------------------------------------------------------------
// //

// // $small: 440px;
// // $s-medium: 570px;
// // $medium: 761px;
// // $large: 960px;
// // $x-large: 1060px;
// // $xx-large: 1250px;

:root {
  --white: #fcffff;
  --black: #262f38;
  --gray: #8a919b;
  --ligth-gray: #7c8898;
  --background-color: #141519;
  --background-color-card: #1f2630;
  --orange: #fc7613;
}
